@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  background: #fdcc078c;
  color: #393939;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* add button section:
button {


}

button .follow {

}

 */
