@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  background: #fdcc078c;
  background-image: url("https://images.wallpaperscraft.com/image/polygonal_triangles_shades_130190_2560x1440.jpg");
  color: #393939;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: rgb(0, 121, 211);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 16px 3px 16px;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 150, 290);
  color: white;
}

button:focus {
  outline: 2px;
}

button:disabled {
  background: #d1eaff;
  cursor: not-allowed;
}

.button-login {
  color:  rgb(0, 150, 290);
  background: white;
  border: 1px solid rgb(0, 150, 290);
}

input {
  background-color: #f2f8fd;
  border: 1px solid rgb(237, 239, 241);
  border-radius: 4px;
}

select {
  background: white;
  font-size: 14px;
  font-family: 'Open sans', sans-serif;
  border: 1px solid #ccc;
}

input:hover {
  border: 1px solid rgb(0, 150, 290);
}

img {
  object-fit: cover;
}
