.auth-black {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

}

.auth-wrapper {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 460px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 50px;
}

.art {
  background-image: url(https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png);
  width: 150px;
  height: 100%;
  z-index: 2;
}

.auth-form-container {
  background: white;
  overflow: overlay;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0px 4px 4px 0px;
}

.auth-close-modal {
  background: white;
  color: #909192;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
}

.auth-close-modal span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  font-size: 35px;
  margin-bottom: 3px;
  cursor: pointer;
  height: 40%;
  border-radius: 5px;
  padding: 5px;
}

.auth-form-content {
  padding: 30px;
}

.auth-form-content img {
  height: 50px;
  width: 50px;
  margin-left: -5px;
}

.auth-form-content form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.auth-form-content form input {
  width: 392px;
  height: 25px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700px;
}

.auth-form-content h1 {
  font-size: 18px;
}

.auth-form-content button {
  font-weight: 800;
}

.auth-form-content span > * {
  margin-left: 7px;
}

.auth-form-content span {
  display: flex;
  flex-direction: row;
}

.auth-form-content span a {
  font-weight: 800;
  color: rgb(0, 121, 211);
}

.auth-form-content hr {
  margin: 20px 0px 20px 0px ;
}

.error-container {
  position: relative;
  height: 20px; 
}

.error-text {
  position: absolute;
  color: red; 
  white-space: nowrap;
}