.comments {
  display: block;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 0px 5px 5px;
  background: white;
}

.comment-collapsed {
  display: flex;
  flex-direction: row;
}

.comment-votes {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.comment-votes img {
  margin: 5px;
  width: 16px;
  height: 16px;
}

.comment-votes img:hover {
  cursor: pointer;
}

.comment-content {
  display: block;
  text-align: left;
  width: 100%;
}

.comment-text {
  margin-left: 5px;
}

.comment-text .info > * {
  margin-right: 5px;
}

.comment-username {
  color: #4cb8d2;
}

.comment-points, .comment-timeago {
  font-size: 12px;
}

.comment-add, .comment-login {
  /* border-radius: 5px 5px 0px 0px; */
  /* min-height: 50%; */
  /* margin-top: 30px; */
  display: block;
  margin-left: 30px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  /* min-height: 30vh; */
  background: white;
  /* display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center; */
}

.comment-add span {
  display: flex;
  flex-direction: row;
}

.comment-add .comment-username {
  margin-left: 10px;
  font-weight: 700;
}

.comment-add form textarea {
  width: 500px;
  height: 200px;
  font-size: 15px;
}
