@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
:root {
  --nav-offset: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: var(--nav-offset);
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  z-index: 8;
}

img {
  height: 35px;
  width: 35px;
}

.user-avatar {
  border: 1px solid aliceblue;
  border-radius: 20px;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #393939;
}

a#username {
  align-self: center;
  color: #0097FF;
}

a:visited {
  color: #393939;
  text-decoration: none;
}

a#username:visited {
   color: #0097FF;
}

a#create-post, a#logout {
  border-bottom: 1px solid white;
}

select, input, button {
  height: 30px;
}

input#search {
  background: url('https://www.iconfinder.com/icons/111124/download/png/16') no-repeat scroll 7px 7px;
  background-color: #f2f8fd;
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

select#select {
  width: 90px;
}

.search-dropdown-container {
  z-index: 8;
  position: absolute;
  top: 50px;
  width: 158px;
  text-align: left;
  background: #f2f8fd;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0px 0px 4px 4px;
}

.search-dropdown-container ul {
  list-style-type: none;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

ul li {
  border-bottom: 1px solid white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
}

ul li:hover {
  background: #fff8b8;
}

.nav-dropdown-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  width: 35vw;
  padding: 5px;
  border-top: 0px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: var(--nav-offset);
  right: 2px;
}

.nav-dropdown-container a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
}

.nav-dropdown-container a:hover {
  background-color:whitesmoke;
}

.nav-dropdown-container img {
  height: 22px;
  width: 22px;
  margin-right: 2px;
}

@media screen and (max-width: 645px) {
  input {
    max-width: 60vw;
  }
  #username {
    text-overflow: ellipsis;
    max-width: 60px;
  }

  button {
    white-space: nowrap;
  }
}