@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 50px;
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  z-index: 5;
}

img {
  height: 40px;
  width: 40px;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #393939;
}

a#username {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0097FF;
}

a:visited {
  color: #393939;
  text-decoration: none;
}

a#username:visited {
   color: #0097FF;
}

select, input, button {
  height: 30px;
}

input#search {
  background: url('https://www.iconfinder.com/icons/111124/download/png/16') no-repeat scroll 7px 7px;
  background-color: #f2f8fd;
  padding-left: 30px;
}

select#select {
  width: 90px;
}

.search-dropdown-container {
  z-index: 6;
  position: absolute;
  top: 50px;
  width: 160px;
  text-align: left;
  background: #F2F8FD;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.search-dropdown-container ul {
  list-style-type: none;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 5px;
}

ul li {
  border-bottom: 1px solid white;
  padding: 2px;
}
