.user-nav {
  margin-top: 50px;
}
.user-page {
  margin-top: 50px;
  display: flex;
}

.logged-user-page {
  margin-top: 80px;
  display: flex;
}

.user-posts-container {
  margin-top: 8px;
}
.user-posts-container .post-collapsed {
  width: 65vw;
  height: 100px;
  margin-bottom: 0px;
  margin-top: 2px;
  border-radius: 0px;
  color: #393939;
}

.user-info-container {
  margin-left: 5px;
  margin-top: 10px;
  width: 250px;
  height: 270px;
  background: white;
  border-radius: 4px;
}

.user-blue {
  background: #33A8FF;
  height: 80px;
  border-radius: 4px 4px 0px 0px;
}


.user-floater {
  text-align: left;
}

.user-floater > * {
  margin-left: 12px;
}

.user-floater span a {
  margin-left: 12px;
  margin-top: -20px;
  color: #393939;
}

.avatar-wrapper {
  margin-top: -60px;
  height: 92px;
  width: 92px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#avatar {
  height: 86px;
  width: 86px;
  border-radius: 4px;
}
/* UserNav */
.user-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: whitesmoke;
  height: 30px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  /* font-weight: bold; */
  position: fixed;
  z-index: 5;
}

.user-nav span {
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 8px 0px 0px;
}

.user-nav span:hover {
  background: #bde6fb;
}

.selected {
  background: #ffe9af;
}

.user-nav a:visited {
  color: #393939;
  text-decoration: none;
}

button {
  height: 30px;
}
